* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #FFFFFF;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}
/* =====================
Common CSS Styles
======================== */
img{
    width: 100%;
}
h1 {
    font-weight: 700;
    font-size: 4rem;
    line-height: 75px;
    text-align: center;
    color: #131313;
}

h2 {
    font-weight: 700;
    font-size: 2.8125rem;
    line-height: 53px;
    color: #131313;
}

h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #131313;
}

.btn_primary {
    color: #FFFFFF;
    background-color: #FF900E;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
}

/* ======================
Header Area
========================= */
header{
    padding: 20px 150px 50px 150px;
    background: rgba(255, 144, 14, 0.1);
}
/* ----navbar area---- */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_menu ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}
.nav_menu ul li{
    list-style: none;
}
.nav_menu ul li a{
    text-decoration: none;
    color:#131313;
    font-weight: 500;
    font-size: 18px;
}